body#general{background-color:#f9f9f9;}

/* cabeza ------------------------------------------------------------------------------------------ */
/*#cabeza{background-image: url("../../img/cabeza_tqc.png"); height:100px; text-align: left; }*/
#cabeza h1 {margin-bottom: 0px;}
#datosUsuario {font-size:.8em;padding-top:2px;background-color:#FFFFFF;
			border:1px solid #D8EDF3; border-bottom:none;}

/*#datosUsuario, #datosUsuario a {color: #000;}
*/
/* segundo contenedor -------------------------------------------------------------------------- */
#contenedorCuerpo{background-color: #fff; min-height:400px; border: 1px #d8edf3 solid;}
#contenedorCuerpoAsignacion{background-color: #fff; min-height:500px; border: 1px #d8edf3 solid;}
#SecassignSecassign{margin-top: 50px;}
#contenedorCuerpoLogin{background-color: #fff; min-height:500px; border:none;}
#SecpersonLoginForm{margin-top: 50px;}
#contenedorCuerpoAcciones{background-color: #fff; min-height:400px; border:none;}

/* Logueo ------------------------------------------------------------------------------------------- */
#logout{background-color:#FFFFF0}

/* menu ---------------------------------------------------------------------------------------------  */

#menu-acos1 ul {color:#333333;font-weight:bold !important;} 
#menu-acos1 ul span{padding-left:.3em;} 

#menu ul, #menu ol, #menu li {list-style-type:none;display:block;}

#menu  ul {background-color:#E0FFFF; font-weight:bold;}



#menu ul li a{
	display:block;
	text-decoration:none;
	font-weight:normal;
}

.treeview a.selected {
	display:block;
	background:#fff url(../../img/arrow_right.gif) no-repeat scroll 0 3px;
	padding:2px 6px 2px 20px !important;
}

/*
#menu ul li a{
	display:block;
	text-decoration:none;
	color:#483D8B;
	background:#fff url(../../img/arrow_right.gif) no-repeat scroll 0 3px;
	padding:2px 6px 2px 20px;
	font-weight:normal;
}
#menu ul li a:hover, tr.selected, td.selected , a.selected{
	text-decoration: underline;
	background:#eaf5fb url(../../img/arrow_select.png) no-repeat 0 3px;
	color:#040017;
}
*/
/* contenido ---------------------------------------------------------------------------------------- */
#contenido h3#tituloTable,h3.tituloTable  {display:block; padding: .3em .5em; margin-right: .4em; 
						background-color:#F0F0F0; color:#000099; font-weight:bold;}
#contenido #buscador{text-align: right !important;}

/* tablas con los datos ------------------------------------------------------------------------------ */

#contenido .table {
	padding: 0 1.5em 0 0;
	border-collapse: collapse;
	border-spacing:0px;
}

th{border: 1px #b4b4b4 solid;color:#009;}
th a{color:#000099;}
td{ border: 1px #c7c7c7 solid;}
th, td.actions{text-align: center;}
th, td.actionsfijo{text-align: center; width: 69px;}
tr.over td{background:#d6e4f5;} 
tr.selectRowTables td {background:#f2e971;}

tr.artVencido td{background:#ff1302; color:#fff; font-weight:bold;}

/* paginacion ------------------------------------------------- **/
#paging table {/*margin-bottom:20px;*/border-collapse:hidden;border-spacing:0px;}
#paging table th, #paging table tbody td {border:none;}
#paging table tr.over td,#paging table tbody tr.selectRowTables td  {background:none;}
#paging table td {width:33%;}

#paging .paging .disabled {display:inline;}
#logout, #paging .contador {text-align:right;}

/* = LOGIN Y OTROS ==================================================== */
#contenidoLogin{background-color:#c9daef;padding-top:2em; padding-bottom:2em;}
#cabezaAcciones{background-image: url("../../img/cabezaAcciones_tqc.JPG"); height:100px; text-align: right; }

.ingresarDatos, .modificarDatos, .verDatos{text-align:left;padding-top:2em; padding-bottom:2em;}
.ingresarDatos > h3, .modificarDatos > h3, .verDatos > h3 {text-align:center;}
#cabezaAcciones{background-image: url("../../img/cabezaAcciones_tqc.JPG"); height:100px; text-align: right; }
.ingresarDatos #rowLast, .modificarDatos #rowLast, .verDatos #rowLast{margin-bottom: 10px;}
.botones,.paging, #titulo{text-align: center;}
.botones #datosPersona {text-align: left;} 

.divDataForm{
	padding-bottom:3px;
}

/* -- avisos --------------------------------------------------------- */
.message {background-color: #ffffb7;}


/*-- pie de pajina ----------------------------------------------- */
#pie{font-size:.8em; text-align: right !important;}


/* --- code -- */
 .button_off, .button_press {
 	/*
	-moz-border-radius-bottomleft:3px;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	*/
	background-color:#F3F3F3;
	border:1px solid #BABABA;
	color:#5D5D5D;
	font-family:"Trebuchet MS",Verdana;
	font-size:12px;
	width:19px;
	height:19px;
	margin:0;
	margin-bottom:1px;
	margin-right:1px;
	padding:0;
	text-align:center;
}

.input_error{
	background-color:#FF0000 !important;
}
/*-- REPORTES ----------------------------------------------- */
.kardexRepor .box{
	border : none;
	margin-bottom: 0px; 
}

.kardexRepor td.sinborder, .kardexRepor fieldset{
	border:none;
}

.kardexRepor div.conBorde{
	display: inline;
}

.kardexRepor fieldset legend{
	font-size: small;
}


/*para tabla sin estilo*/
table.sinEstilos th, table.sinEstilos td{
	border:none;
}

table.sinEstilos thead th {
	/*background-color: #3F606B;*/
}

#absoluto {
	border: 2px solid #CCC;
	padding: 1em;
	margin: 1em 0 1em 4em;
	width: 300px;	
}


#button { text-decoration: none; }
#effect { padding: 0.4em; position:relative;}
#effect h3 { margin: 0; padding: 0.4em; text-align: center; }
.ui-effects-transfer { border: 2px dotted gray; } 

/* buscador para orden compra*/
#resultadoBusqueda{
	overflow-x: scroll;
	padding: 10px;
}
td.textd, .textd, input.textd {
	text-align:right;
}
td.textc, .textc, input.textc {
	text-align:center;
}

td.amarillo{
	background-color:#ffffb7;
}

#titulo{
	background:#f0f0f0;
	color:#000099;
	border:1px solid #B4B4B4;
}

#resultadoBusqueda2{
	overflow-y:scroll;
	overflow-x:hidden;
	padding: 10px;
	height: 300px;
}
#resultadoBusqueda3{
	overflow-y:scroll;
	padding: 10px;
	height: 300px;
}

#scroll_x{
	overflow-y:scroll;
	overflow-x:scroll;
	padding: 10px;
	height: 350px;
}
fieldset.subtitulo legend{
	border: 1px solid rgb(180, 180, 180); margin-left: 10px; padding-left: 5px; padding-right: 5px;
	background-color:#F0F0F0;
	color:#000099;
}
fieldset.subtitulo{
	padding-top: 10px;
	padding-bottom: 15px;
}
#indexestados{
	overflow-y:scroll;
	overflow-x:scroll;
	padding: 10px;
	height: 280px;
}
.promedio_normal { background-color:#FFFFFF !important; }
.promedio_excedido { background-color:#FF0000 !important;}

/** AVENTURA **/
div.av_fondo_general {
	background-color:#DDDDEE;
}

h2.av_titulo {
	background-color:#99BBFF;
	border-bottom: 1px solid #6688CC;
    color: #FFFFFF;
	font-size: 14pt;
	margin: 0;
	padding: 2px 0 0 10px;
}

table.av_table_base {
	width:100%;
}

table.av_table_base
,table.av_table_base tbody tr
,table.av_table_base tbody td{
	border:none !important;
	padding: 0px;
	vertical-align: middle;
}

table.av_table_base tbody td.av_titulo{
	font-size: 8pt;
	font-weight: bold;
}

table.av_table_detalle th{
	color:#000;
    background-color: #AABBEE;
    border-bottom: 1px solid #8899CC !important;
    border-left: 1px solid #EEEEFF !important;
	font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 8pt;
    padding: 1px;
}

table.av_table_detalle tbody td{
	border-bottom: 1px solid #8899CC !important;
    border-left: 1px solid #EEEEFF !important;
	border-right: 1px solid #DDDDEE !important;
	padding: 1px 5px 0;
}


/** Ntootip = MUESTRA CUALQUIER CONTENIDO EN UN TOOLTIP **/
a.Ntooltip {
	position: relative; /* es la posición normal */
	text-decoration: none !important; /* forzar sin subrayado */
	color:#000000 !important; /* forzar color del texto */
	font-weight:bold !important; /* forzar negritas */
}

a.Ntooltip:hover {
	z-index:999; /* va a estar por encima de todo */
	background-color:#FFFF00; /* DEBE haber un color de fondo */
}

a.Ntooltip span {
	display: none; /* el elemento va a estar oculto */
}

a.Ntooltip:hover span {
	display: block; /* se fuerza a mostrar el bloque */
	position: absolute; /* se fuerza a que se ubique en un lugar de la pantalla */
	top:2em; left:2em; /* donde va a estar */
	width:200px; /* el ancho por defecto que va a tener */
	padding:5px; /* la separación entre el contenido y los bordes */
	background-color: #FFFFE0; /* el color de fondo por defecto */
	color: #000000; /* el color de los textos por defecto */
}