<div class="codAlf">
		<input class="button_off" type="button" value="Q" />
		<input class="button_off" type="button" value="W" />
		<input class="button_off" type="button" value="E" />
		<input class="button_off" type="button" value="R" />
		<input class="button_off" type="button" value="T" />
		<input class="button_off" type="button" value="Y" />
		<input class="button_off" type="button" value="U" />
		<input class="button_off" type="button" value="I" />
		<input class="button_off" type="button" value="O" />
		<input class="button_off" type="button" value="P" />
	</div>

	<div class="codAlf">
		<input class="button_off" type="button" value="A" />
		<input class="button_off" type="button" value="S" />
		<input class="button_off" type="button" value="D" />
		<input class="button_off" type="button" value="F" />
		<input class="button_off" type="button" value="G" />
		<input class="button_off" type="button" value="H" />
		<input class="button_off" type="button" value="J" />
		<input class="button_off" type="button" value="K" />
		<input class="button_off" type="button" value="L" />
		<input class="button_off" type="button" value=" " />
	</div>

	<div class="codAlf">
		<input class="button_off" type="button" value="Z" />
		<input class="button_off" type="button" value="X" />
		<input class="button_off" type="button" value="C" />
		<input class="button_off" type="button" value="V" />
		<input class="button_off" type="button" value="B" />
		<input class="button_off" type="button" value="N" />
		<input class="button_off" type="button" value="M" />
		<input class="button_off" type="button" value="Borrar" style="width: 59px;"/>
	</div>