<?php //echo $this->Html->script('secorganizations/view.js', false); ?>
<?php //echo $this->Html->script('secpeople/index.js', false);  // id="titulo" 
?>
	<?php echo $this->Session->flash();?>
	<br/>
<div class="span-9 botones" > 
	<table cellpadding="0" cellspacing="0" class="table">
		<thead>
			<tr>
				<th colspan="2" scope="col">
					<?php echo __('plantillaCronograma');?>
				</th>
			</tr>
		</thead>
		<tbody>

			<tr>
		 		<td><label><?php echo __('horaInicioCronograma') ?></label> </td>
		 		<td><?php echo $castTime['Appcasttime']['inittime']; ?></td>
		 	</tr>

			<tr>
		 		<td><label><?php echo __('horaFinCronograma'); ?></label> </td>
		 		<td><?php echo $castTime['Appcasttime']['endtime']?></td>
		 	</tr>

                        <tr>
		 		<td><label><?php echo __('Nro Programado'); ?></label> </td>
		 		<td><?php echo $castTime['Appcasttime']['programed']?></td>
		 	</tr>
		</tbody>
	</table>	
	<br/>
	<?php  echo $this->Form->button(__('cerrar',true), array('type'=>'button','onClick' => 'javascript:window.close()')); ?>
	<?php //echo $form->end();?>
</div>
